body {
  font-family: "Oswald", sans-serif;
}
a {
  text-decoration: none;
  width: 100px;
  padding: 15px;
  background: #9d0208;
  color: #edf6f9;
  border-radius: 50px;
}
.half-size p {
  margin-bottom: 55px;
}
h1 {
  font-size: 50px;
  line-height: 40px;
}
.orange {
  color: #dc2f02;
}
.half-size {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
}
.food-order {
  display: flex;
}
.diet-food img {
  background: url(images/shapes/Group\ 8447.png);
  height: 450px;
}
